#Here is another example .gitignore file:
# no .a files
#*.a
*.pyc

# but do track lib.a, even though you're ignoring .a files above
#!lib.a

# only ignore the root TODO file, not subdir/TODO
#/TODO

# ignore all files in the build/ directory
build/
aws/
__pycache__/
flashcard/
py2exe_tests/
voice_files/
decks_in_python/sounds/


# ignore doc/notes.txt, but not doc/server/arch.txt
#doc/*.txt
